.Forget-Password {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 50%;
  }
  
  .Forget-Password h2 {
    margin-top: 0;
  }
  
  .Forget-Password input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .Forget-Password button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Forget-Password button:hover {
    background-color: #031d04;
  }
  
  .Change-password {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .Change-password a {
    color: #060101;
    text-decoration: none;
  }
  
  .Change-password a:hover {
    text-decoration: underline;
  }
  
  